@tailwind base;
@tailwind components;
@tailwind utilities;

.outer-div {
  margin: 5px;
  margin-top: 40px;
}

.article-header {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: flex-start;
}

.load {
  display: flex;
  margin: 5px;
  justify-content: center;
}